<!DOCTYPE html>
<html>
<head>
    <title>YoungXcode Certificate Verification</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-5">

    <h1 class="text-primary">YoungXcode</h1>

    <h3>Certificate Verification Portal</h3>

    <p>Verify Internship & Training Certificates</p>

    <form method="POST">
        {% csrf_token %}

        <input
            type="text"
            name="internship_id"
            class="form-control mb-3"
            placeholder="Enter Internship ID">

        <button class="btn btn-primary">
            Verify Certificate
        </button>

    </form>

    {% if student %}

    <div class="card mt-4">
        <div class="card-body">

            <h3 class="text-success">
                ✅ Certificate Verified
            </h3>

            <hr>

            <p><strong>Name:</strong> {{ student.name }}</p>

            <p><strong>Internship ID:</strong> {{ student.internship_id }}</p>

            <p><strong>Email:</strong> {{ student.email }}</p>

            <p><strong>Role:</strong> {{ student.role }}</p>

            <p><strong>Start Date:</strong> {{ student.start_date }}</p>

            <p><strong>End Date:</strong> {{ student.end_date }}</p>

            <p><strong>Status:</strong> {{ student.status }}</p>

        </div>
    </div>

    {% endif %}

    {% if error %}

    <div class="alert alert-danger mt-4">
        {{ error }}
    </div>

    {% endif %}

</div>

</body>
</html>